<section class="all-profiles-page">
  <div class="all-profiles-header">
    <h1>All Profiles</h1>
    <div class="search-wrap" class="form-inline">
        <form action="/search" method="POST" class="form-inline">
          <input class="form-control mr-sm-2" type="text" placeholder="Filter.." name="search" aria-label="Search" >
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      {{#each users}}

      <div class="all-profiles" class="col-4" >
        <img  alt="Responsive image" class="profile-picture" src="{{imageUrl}}" alt="{{fullName}} - image">

        <div class="card-info">
          <h3>{{fullName}}</h3>
          <p class="post-title">I can teach {{speakingLanguage}} and I want to learn {{learningLanguage}} </p>
          <button type="button" class="btn btn-outline-primary"><a href="/contact/{{id}}">Let's connect</a></button>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

</section>




