<section class="all-profiles-page">
  <h1 class="all-posts-title">All Posts</h1>
  <div class="container">
    <div class="row">
    
      {{#each posts}}

      <div class="all-profiles" class="col-4">
        <img alt="Responsive image" class="profile-picture" src="{{imageUrl}}" alt="{{title}} - image">

        <div class="card-info">
          <h3>{{owner.fullName}} wrote:</h3>
          <h5 class="post-title">{{title}}</h5>
          <p>{{description}}</p>
          
           <div class="post-buttons">
              <button type="button" class="btn btn-outline-primary"><a href="/posts/{{id}}">See details</a></button>
              
              {{#if isOwner}}
              <button type="button" class="btn btn-outline-success"><a href="/posts/{{id}}/edit">Edit post</a></button>
              <form action="/posts/{{id}}/delete" method="POST">
                <button type="submit" type="button" class="btn btn-outline-danger">Delete</button>
              </form>
              {{/if}}
           </div>
        
        </div>
      </div>
      {{/each}}
    </div>
  </div>

</section>






